In [2]:
import pandas as pd
import numpy as np
import csv

df = pd.read_csv("movies_metadata.csv", dtype={'popularity': 'str'})

In [3]:
# drop useless columns (tagline ? belongs_to_collection ? runtime ?
df = df.drop(columns=["adult", "poster_path", "homepage", "video", "original_title", "belongs_to_collection"])

# remove entries where release date is na
df = df.dropna(subset=["release_date"])
df["release_year"] = df["release_date"].str[:4]

# vote count 0 ?
# budget == 0 pour 36000 rows 
df

,budget,genres,id,imdb_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003
45464,0,[],227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917
45465,0,[],461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017

Est ce qu'on enlève la row quand le vote count est 0

Budget == 0 pour 36000 rows => pas de données.
Est ce que 9000 seront assez pour l'analyse (voir répartition) ?

### Production de films

In [4]:
section1 = df.drop(columns=["budget", "id", "imdb_id", "runtime", "revenue", "vote_count", "vote_average", "status", "popularity", "tagline", 'overview'])
section1.to_csv("evolution_production/production.csv")

### Critique vs Budget

In [102]:
section2 = df.drop(columns=["id", "overview", "production_companies", "tagline", "spoken_languages", "production_countries", "imdb_id"])
section2 = section2.drop(section2[section2["budget"] == "0"].index)
section2.to_csv("critique_budget/critique_budget.csv")

### Popularité et thème

In [103]:
section3 = df.drop(columns=["budget", "id", "imdb_id", "production_countries", "production_companies"])
section3.to_csv("theme_popularite/theme_popularite.csv")

### Production et monopole

In [104]:
section4 = df.drop(columns=["genres", "id", "imdb_id", "overview", "tagline"])
section4.to_csv("producteurs/producteurs.csv")

### Keywords et popularité

In [105]:
section5 = df.drop(columns=["budget", "id", "imdb_id", "production_companies", "production_countries", "spoken_languages"])
section5.to_csv("keywords_popularite/keywords_popularite.csv")

### Expérimentation

In [109]:
df[df["status"] == "Rumored"]

# na = df.isna()
# na[na["release_date"] == True]

# df[df["release_date"].isna()]

# df[df["budget"] == "0"]

,budget,genres,id,imdb_id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
682,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",48260,tt0112604,en,Eunice is walking along the highways of northe...,0.877853,"[{'name': 'Dan Films', 'id': 1854}, {'name': '...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1995-08-18,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,Butterfly Kiss,7.4,5.0,1995
775,0,"[{'id': 18, 'name': 'Drama'}]",44495,tt0072362,en,"When David, an ex-monk still in his twenties m...",0.147662,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1974-01-01,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,A Very Natural Thing,6.3,3.0,1974
1032,0,"[{'id': 18, 'name': 'Drama'}]",38191,tt0117781,en,A young half-Navajo convict (Jon Seda) dying o...,2.35809,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-05-29,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,It began as a kidnapping. It became a journey ...,The Sunchaser,6.1,8.0,1996
1478,0,"[{'id': 18, 'name': 'Drama'}]",59232,tt0118117,en,Jeremy Collier is a Vietnam veteran who has re...,0.893464,"[{'name': 'Touchstone Pictures', 'id': 9195}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-11-20,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,There Is A Secret About To Explode.,The War at Home,6.9,7.0,1996
1513,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...",65046,tt0116930,en,"Ken Sherry, a radio personality from Brisbane,...",0.881482,[{'name': 'New South Wales Film & Television O...,"[{'iso_3166_1': 'AU', 'name': 'Australia'}]",1996-10-10,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,Two sisters will do anything to hook the right...,Love Serenade,6.0,4.0,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44655,0,"[{'id': 28, 'name': 'Action'}, {'id': 10752, '...",104473,tt0223958,NaN,"Three military men, seen inside a fortificatio...",0.471325,"[{'name': 'Star-Film', 'id': 7159}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1897-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Rumored,NaN,The Surrender of Tournavos,4.6,5.0,1897
44731,0,"[{'id': 18, 'name': 'Drama'}]",49270,tt0000832,en,"A greedy tycoon decides, on a whim, to corner ...",0.61161,"[{'name': 'Biograph Company', 'id': 21555}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1909-12-13,0.0,14.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,A Corner in Wheat,6.5,17.0,1909
45030,0,"[{'id': 16, 'name': 'Animation'}]",58828,tt0190806,en,A basic explanation of the purpose and process...,0.275712,"[{'name': 'Walt Disney Productions', 'id': 3166}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1946-10-18,0.0,10.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,The Story of Menstruation,6.0,8.0,1946
45109,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",63568,tt0147806,ru,High school students Ksenya and Boris are in l...,0.104567,"[{'name': 'Mosfilm', 'id': 5120}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1961-06-06,0.0,102.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Rumored,NaN,But What If This Is Love?,5.0,1.0,1961
45289,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",87229,tt1524553,is,After 3 years abroad Junior returns to Iceland...,0.008498,"[{'name': 'Mystery Productions', 'id': 88966}]","[{'iso_3166_1': 'IS', 'name': 'Iceland'}]",2010-03-26,0.0,99.0,"[{'iso_639_1': 'is', 'name': 'Íslenska'}]",Rumored,When you are strange,King's Road,0.0,0.0,2010