In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv('delay_flights.csv')

In [3]:
data

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_CITY_NAME,DEP_DELAY_NEW,CANCELLED,PRCP,SNWD,TMIN,TAVG,AWND
0,1,6,7,"Atlanta, GA",0.0,0.0,0.00,0.0,43.0,53.0,6.49
1,1,6,7,"Atlanta, GA",0.0,0.0,0.00,0.0,43.0,53.0,6.49
2,1,6,7,"Atlanta, GA",0.0,0.0,0.00,0.0,43.0,53.0,6.49
3,1,6,7,"Atlanta, GA",12.0,0.0,0.00,0.0,43.0,53.0,6.49
4,1,6,7,"Atlanta, GA",8.0,0.0,0.00,0.0,43.0,53.0,6.49
...,...,...,...,...,...,...,...,...,...,...,...
6579956,12,29,7,"Anchorage, AK",0.0,0.0,0.02,7.1,11.0,15.0,7.83
6579957,12,29,7,"Anchorage, AK",0.0,0.0,0.02,7.1,11.0,15.0,7.83
6579958,12,29,7,"Anchorage, AK",0.0,0.0,0.02,7.1,11.0,15.0,7.83
6579959,12,29,7,"Anchorage, AK",0.0,0.0,0.02,7.1,11.0,15.0,7.83
6579960,12,29,7,"Anchorage, AK",38.0,0.0,0.02,7.1,11.0,15.0,7.83

#### Columns significations

- _MONTH_: Month
- _DAY_OF_MONTH_: Day of the month (1-31)
- _DAY_OF_WEEK_: Day of Week
- _ORIGIN_CITY_NAME_: Origin city name
- _DEP_DELAY_NEW_: Departure delay in minutes
- _CANCELLED_: Flag if flight was cancelled
- _PRCP_: Inches of precipitation for day
- _SNWD_: Inches of snow on ground for day
- _TMIN_: Min temperature for day
- _TAVG_: Average temperature for day
- _AWND_: Max wind speed for day

In [4]:
#data = data[(data['DEP_DELAY_NEW'] > 0.) | (data['CANCELLED'] == 1.)]
data = data[['MONTH', 'DAY_OF_MONTH', 'ORIGIN_CITY_NAME', 'DEP_DELAY_NEW', 'CANCELLED']]

In [5]:
data

         MONTH  DAY_OF_MONTH ORIGIN_CITY_NAME  DEP_DELAY_NEW  CANCELLED
0            1             6      Atlanta, GA            0.0        0.0
1            1             6      Atlanta, GA            0.0        0.0
2            1             6      Atlanta, GA            0.0        0.0
3            1             6      Atlanta, GA           12.0        0.0
4            1             6      Atlanta, GA            8.0        0.0
...        ...           ...              ...            ...        ...
6579956     12            29    Anchorage, AK            0.0        0.0
6579957     12            29    Anchorage, AK            0.0        0.0
6579958     12            29    Anchorage, AK            0.0        0.0
6579959     12            29    Anchorage, AK            0.0        0.0
6579960     12            29    Anchorage, AK           38.0        0.0

[6579961 rows x 5 columns]

In [6]:
def cutStateName(df):
    infos = df['ORIGIN_CITY_NAME'].split(', ')
    return infos[1]

In [7]:
data['ORIGIN_CITY_NAME'] = data.apply(cutStateName, axis=1)
data = data.rename(columns={'ORIGIN_CITY_NAME':'STATE_NAME'})

C:\Users\Paul\AppData\Local\Temp\ipykernel_9284\334225792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ORIGIN_CITY_NAME'] = data.apply(cutStateName, axis=1)

In [8]:
data

         MONTH  DAY_OF_MONTH STATE_NAME  DEP_DELAY_NEW  CANCELLED
0            1             6         GA            0.0        0.0
1            1             6         GA            0.0        0.0
2            1             6         GA            0.0        0.0
3            1             6         GA           12.0        0.0
4            1             6         GA            8.0        0.0
...        ...           ...        ...            ...        ...
6579956     12            29         AK            0.0        0.0
6579957     12            29         AK            0.0        0.0
6579958     12            29         AK            0.0        0.0
6579959     12            29         AK            0.0        0.0
6579960     12            29         AK           38.0        0.0

[6579961 rows x 5 columns]

In [9]:
def makeDate(df):
    month = df['MONTH']
    day = df['DAY_OF_MONTH']
    month = '0' + str(month) if month < 10 else str(month)
    day = '0' + str(day) if day < 10 else str(day)
    return '2019-' + month + '-' + day

In [10]:
data['DATE'] = data.apply(makeDate, axis=1)

In [11]:
data

         MONTH  DAY_OF_MONTH STATE_NAME  DEP_DELAY_NEW  CANCELLED        DATE
0            1             6         GA            0.0        0.0  2019-01-06
1            1             6         GA            0.0        0.0  2019-01-06
2            1             6         GA            0.0        0.0  2019-01-06
3            1             6         GA           12.0        0.0  2019-01-06
4            1             6         GA            8.0        0.0  2019-01-06
...        ...           ...        ...            ...        ...         ...
6579956     12            29         AK            0.0        0.0  2019-12-29
6579957     12            29         AK            0.0        0.0  2019-12-29
6579958     12            29         AK            0.0        0.0  2019-12-29
6579959     12            29         AK            0.0        0.0  2019-12-29
6579960     12            29         AK           38.0        0.0  2019-12-29

[6579961 rows x 6 columns]

In [12]:
dico = {1: 'janvier', 2: 'fÃ©vrier', 3: 'mars', 4: 'avril', 5: 'mai', 6: 'juin', 7: 'juillet',
        8: 'aoÃ»t', 9: 'septembre', 10: 'octobre', 11: 'novembre', 12: 'dÃ©cembre', }

def showMeTheMonth(df):
    return dico[df['MONTH']]

In [176]:
def makeMap(df, state='delayed', timeline='all', month=1, day=1):
    data_delay = df.drop(['CANCELLED'], axis=1)
    data_delay = data_delay[data_delay['DEP_DELAY_NEW'] > 0.]

    data_cancel = df.drop(['DEP_DELAY_NEW'], axis=1)
    data_fly = data_cancel[data_cancel['CANCELLED'] == 0.]
    data_cancel = data_cancel[data_cancel['CANCELLED'] == 1.]

    if timeline == 'day':
        if state == 'cancelled':
            data_cancel = data_cancel[(data_cancel['MONTH'] == month) & (data_cancel['DAY_OF_MONTH'] == day)]
            
            data_cancel = data_cancel.groupby(['STATE_NAME']).agg({'CANCELLED': ['count']})
            data_cancel.columns = ['CANCELLED_COUNT']
            data_cancel = data_cancel.reset_index()
            
            data_fly = data_fly.groupby(['STATE_NAME']).agg({'CANCELLED': ['count']})
            data_fly.columns = ['FLYING_COUNT']
            data_fly = data_fly.reset_index()
            
            data_cancel = pd.merge(data_cancel, data_fly, on=['STATE_NAME'])
            data_cancel['CANCELLED_RATIO'] = data_cancel['CANCELLED_COUNT'] / data_cancel['FLYING_COUNT'] * 100
            
            fig = px.choropleth(data_cancel, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='CANCELLED_RATIO',
                                labels={'CANCELLED_RATIO':'Pourcentage de vols annulÃ©s'}, hover_name='STATE_NAME',
                                hover_data={'STATE_NAME': False}, color_continuous_scale=['white', 'blue'],
                                title="Pourcentage de vols annulÃ©s par Ã©tat le " + str(day) + ' ' + dico[month] + ' 2019')
        else:
            data_delay = data_delay[(data_delay['MONTH'] == month) & (data_delay['DAY_OF_MONTH'] == day)]
            
            data_delay = data_delay.groupby(['STATE_NAME']).agg({'DEP_DELAY_NEW': ['mean']})
            data_delay.columns = ['DELAY_MEAN']
            data_delay = data_delay.reset_index()
            
            fig = px.choropleth(data_delay, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='DELAY_MEAN',
                                labels={'DELAY_MEAN':'Retard moyen'}, hover_name='STATE_NAME', hover_data={'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'],
                                title="Retard moyen des vols par Ã©tat le " + str(day) + ' ' + dico[month] + ' 2019')
    
    elif timeline == 'month':
        if state == 'cancelled':
            data_cancel = data_cancel[data_cancel['MONTH'] == month]
            
            data_cancel = data_cancel.groupby(['DAY_OF_MONTH', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_cancel.columns = ['CANCELLED_COUNT']
            data_cancel = data_cancel.reset_index()
            
            data_fly = data_fly.groupby(['DAY_OF_MONTH', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_fly.columns = ['FLYING_COUNT']
            data_fly = data_fly.reset_index()
            
            data_cancel = pd.merge(data_cancel, data_fly, on=['DAY_OF_MONTH', 'STATE_NAME'])
            data_cancel['CANCELLED_RATIO'] = data_cancel['CANCELLED_COUNT'] / data_cancel['FLYING_COUNT'] * 100
            
            fig = px.choropleth(data_cancel, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='CANCELLED_RATIO',
                                animation_frame='DAY_OF_MONTH', labels={'CANCELLED_RATIO':'Pourcentage de vols annulÃ©s', 'DAY_OF_MONTH': 'jour'},
                                hover_name='STATE_NAME', hover_data={'DAY_OF_MONTH': False, 'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'], title="Pourcentage de vols annulÃ©s par Ã©tat en " + dico[month] + ' 2019')
        else:
            data_delay = data_delay[data_delay['MONTH'] == month]
            
            data_delay = data_delay.groupby(['DAY_OF_MONTH', 'STATE_NAME']).agg({'DEP_DELAY_NEW': ['mean']})
            data_delay.columns = ['DELAY_MEAN']
            data_delay = data_delay.reset_index()
            
            fig = px.choropleth(data_delay, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='DELAY_MEAN',
                                animation_frame='DAY_OF_MONTH', labels={'DELAY_MEAN':'Retard moyen', 'DAY_OF_MONTH': 'jour'},
                                hover_name='STATE_NAME', hover_data={'DAY_OF_MONTH': False, 'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'], title="Retard moyen des vols par Ã©tat en " + dico[month] + ' 2019')
    
    elif timeline == 'year':
        if state == 'cancelled':
            data_cancel = data_cancel.groupby(['MONTH', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_cancel.columns = ['CANCELLED_COUNT']
            data_cancel = data_cancel.reset_index()
            
            data_fly = data_fly.groupby(['MONTH', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_fly.columns = ['FLYING_COUNT']
            data_fly = data_fly.reset_index()
            
            data_cancel = pd.merge(data_cancel, data_fly, on=['MONTH', 'STATE_NAME'])
            data_cancel['CANCELLED_RATIO'] = data_cancel['CANCELLED_COUNT'] / data_cancel['FLYING_COUNT'] * 100
            
            data_cancel['MONTH'] = data_cancel.apply(showMeTheMonth, axis=1)
            fig = px.choropleth(data_cancel, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='CANCELLED_RATIO',
                                animation_frame='MONTH', labels={'CANCELLED_RATIO':'Pourcentage de vols annulÃ©s', 'MONTH': 'mois'},
                                hover_name='STATE_NAME', hover_data={'MONTH': False, 'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'], title="Pourcentage de vols annulÃ©s par Ã©tat et par mois en 2019")
        else:
            data_delay = data_delay.groupby(['MONTH', 'STATE_NAME']).agg({'DEP_DELAY_NEW': ['mean']})
            data_delay.columns = ['DELAY_MEAN']
            data_delay = data_delay.reset_index()
            
            data_delay['MONTH'] = data_delay.apply(showMeTheMonth, axis=1)
            fig = px.choropleth(data_delay, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='DELAY_MEAN',
                                animation_frame='MONTH', labels={'DELAY_MEAN':'Retard moyen', 'MONTH': 'mois'}, hover_name='STATE_NAME',
                                hover_data={'MONTH': False, 'STATE_NAME': False}, color_continuous_scale=['white', 'blue'],
                                title="Retard moyen des vols par Ã©tat et par mois en 2019")
            
    elif timeline == 'absolute':
        if state == 'cancelled':
            data_cancel = data_cancel.groupby(['STATE_NAME']).agg({'CANCELLED': ['count']})
            data_cancel.columns = ['CANCELLED_COUNT']
            data_cancel = data_cancel.reset_index()
            
            data_fly = data_fly.groupby(['STATE_NAME']).agg({'CANCELLED': ['count']})
            data_fly.columns = ['FLYING_COUNT']
            data_fly = data_fly.reset_index()
            
            data_cancel = pd.merge(data_cancel, data_fly, on=['STATE_NAME'])
            data_cancel['CANCELLED_RATIO'] = data_cancel['CANCELLED_COUNT'] / data_cancel['FLYING_COUNT'] * 100
            
            fig = px.choropleth(data_cancel, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='CANCELLED_RATIO',
                                labels={'CANCELLED_RATIO':'Pourcentage de vols annulÃ©s'}, hover_name='STATE_NAME',
                                hover_data={'STATE_NAME': False}, color_continuous_scale=['white', 'blue'],
                                title="Pourcentage de vols annulÃ©s par Ã©tat en 2019")
        else:
            data_delay = data_delay.groupby(['STATE_NAME']).agg({'DEP_DELAY_NEW': ['mean']})
            data_delay.columns = ['DELAY_MEAN']
            data_delay = data_delay.reset_index()
            
            fig = px.choropleth(data_delay, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='DELAY_MEAN',
                                labels={'DELAY_MEAN':'Retard moyen'}, hover_name='STATE_NAME', hover_data={'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'], title="Retard moyen des vols par Ã©tat en 2019")
            
    else:
        if state == 'cancelled':
            data_cancel = data_cancel.groupby(['DATE', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_cancel.columns = ['CANCELLED_COUNT']
            data_cancel = data_cancel.reset_index()
            
            data_fly = data_fly.groupby(['DATE', 'STATE_NAME']).agg({'CANCELLED': ['count']})
            data_fly.columns = ['FLYING_COUNT']
            data_fly = data_fly.reset_index()
            
            data_cancel = pd.merge(data_cancel, data_fly, on=['DATE', 'STATE_NAME'])
            data_cancel['CANCELLED_RATIO'] = data_cancel['CANCELLED_COUNT'] / data_cancel['FLYING_COUNT'] * 100
            
            fig = px.choropleth(data_cancel, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='CANCELLED_RATIO',
                                animation_frame='DATE', labels={'CANCELLED_RATIO':'Pourcentage de vols annulÃ©s'},
                                hover_name='STATE_NAME', hover_data={'DATE': False, 'STATE_NAME': False},
                                color_continuous_scale=['white', 'blue'], title="Pourcentage de vols annulÃ©s par Ã©tat et par jour en 2019")
        else:
            data_delay = data_delay.groupby(['DATE', 'STATE_NAME']).agg({'DEP_DELAY_NEW': ['mean']})
            data_delay.columns = ['DELAY_MEAN']
            data_delay = data_delay.reset_index()
            
            fig = px.choropleth(data_delay, locations='STATE_NAME', locationmode='USA-states', scope='usa', color='DELAY_MEAN',
                                animation_frame='DATE', labels={'DELAY_MEAN':'Retard moyen'}, hover_name='STATE_NAME',
                                hover_data={'DATE': False, 'STATE_NAME': False}, color_continuous_scale=['white', 'blue'],
                                title="Retard moyen des vols par Ã©tat et par jour en 2019")
    
    return fig