# 2019 Airline Delays w/Weather and Airport Detail

## Importation of all the packages we will use for this project

In [1]:
import numpy as np
import pandas as pd

## Preparation of the data

> All the data required can be found at this link: https://www.kaggle.com/code/threnjen/dataset-cleanup-how-the-train-test-sets-were-made/data?select=raw_data

#### Concatenation of the 12 files representing each month in one dataframe

In [2]:
src_path = 'raw_data/ONTIME_REPORTING_'
data = pd.DataFrame()

for i in range(1, 13):
    end_path = ('0' + str(i) if i < 10 else str(i)) + '.csv'
    print('> reading from', src_path + end_path)
    df = pd.read_csv(src_path + end_path)
    data = pd.concat([data, df])

> reading from raw_data/ONTIME_REPORTING_01.csv
> reading from raw_data/ONTIME_REPORTING_02.csv
> reading from raw_data/ONTIME_REPORTING_03.csv
> reading from raw_data/ONTIME_REPORTING_04.csv
> reading from raw_data/ONTIME_REPORTING_05.csv
> reading from raw_data/ONTIME_REPORTING_06.csv
> reading from raw_data/ONTIME_REPORTING_07.csv
> reading from raw_data/ONTIME_REPORTING_08.csv
> reading from raw_data/ONTIME_REPORTING_09.csv
> reading from raw_data/ONTIME_REPORTING_10.csv
> reading from raw_data/ONTIME_REPORTING_11.csv
> reading from raw_data/ONTIME_REPORTING_12.csv

In [3]:
data.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
0,1,6,7,9E,N8694A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7,1,9E,N8970D,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,32.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8,2,9E,N820AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,39.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1,9,3,9E,N840AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10,4,9E,N8969A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,41.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN

#### Keeping only the usefull data for our study

In [4]:
data = data[['MONTH', 'DAY_OF_MONTH', 'ORIGIN_CITY_NAME', 'DEP_DELAY_NEW', 'CANCELLED']]
data = data.rename(columns={'ORIGIN_CITY_NAME':'STATE_NAME'})

In [5]:
def cutStateName(df):
    infos = df['STATE_NAME'].split(', ')
    return infos[1]

In [6]:
data['STATE_NAME'] = data.apply(cutStateName, axis=1)

In [7]:
data.head()

   MONTH  DAY_OF_MONTH STATE_NAME  DEP_DELAY_NEW  CANCELLED
0      1             6         GA            0.0        0.0
1      1             7         GA            0.0        0.0
2      1             8         GA            0.0        0.0
3      1             9         GA            0.0        0.0
4      1            10         GA            0.0        0.0

#### Exporting the data into 2 files

In [9]:
for i, df_i in enumerate(np.array_split(data, 2)):
    df_i.to_csv('flights{id}.csv'.format(id=i), index=False)