In [1]:
import pandas as pd
import os

In [2]:
DATA_ROOT_PATH = "../data"
STATS_GENERALES_PATH = os.path.join(DATA_ROOT_PATH, "stats_generales")
STATS_GENERALES_FILE_PATH = os.path.join(STATS_GENERALES_PATH, "stats_generales.csv")
SUMMARY_STATS_GENERALES_FILE_PATH = os.path.join(STATS_GENERALES_PATH, "summary_stats_generales.csv")
STATS_LYCEES_FILE_PATH = os.path.join(DATA_ROOT_PATH, "stats_lycees", "stats_lycees.csv")
STATS_SUMMARY_FILE_PATH = os.path.join(DATA_ROOT_PATH, "stats_summary", "summary.csv")

## Regrouper les données de `stats_generales`
Créer un fichier unique `data/stats_generales/stats_generales.csv` regroupe dans les données de `data/stats_generales`

In [3]:
concat_file_list = []
for dirpath, dirname_list, filename_list in os.walk(STATS_GENERALES_PATH):
    print(dirpath)
    for filename in filename_list:
        if os.path.splitext(filename)[1] == ".tsv":
            print("ok")
            file_path = os.path.join(dirpath, filename)
            concat_file_list.append(file_path)

../data/stats_generales
../data/stats_generales/2015
ok
ok
ok
ok
ok
ok
../data/stats_generales/2009
ok
ok
ok
ok
ok
ok
../data/stats_generales/2008
ok
ok
ok
ok
ok
ok
../data/stats_generales/2021
ok
ok
ok
ok
ok
ok
ok
ok
../data/stats_generales/2012
ok
ok
ok
ok
ok
ok
../data/stats_generales/2010
ok
ok
ok
ok
ok
ok
../data/stats_generales/2018
ok
ok
ok
ok
ok
ok
../data/stats_generales/2006
ok
ok
ok
ok
ok
ok
../data/stats_generales/2016
ok
ok
ok
ok
ok
ok
../data/stats_generales/2019
ok
ok
ok
ok
ok
ok
ok
ok
../data/stats_generales/2004
ok
ok
ok
ok
ok
ok
../data/stats_generales/2020
ok
ok
ok
ok
ok
ok
ok
ok
../data/stats_generales/2017
ok
ok
ok
ok
ok
ok
../data/stats_generales/2002
ok
ok
ok
ok
ok
ok
../data/stats_generales/2007
ok
ok
ok
ok
ok
ok
../data/stats_generales/2014
ok
ok
ok
ok
ok
ok
../data/stats_generales/2003
ok
ok
ok
ok
ok
ok
../data/stats_generales/2011
ok
ok
ok
ok
ok
ok
../data/stats_generales/2013
ok
ok
ok
ok
ok
ok
../data/stats_generales/2005
ok
ok
ok
ok
ok
ok

In [4]:
len(concat_file_list)

126

In [5]:
concat_file_list

['../data/stats_generales/2015/2015_pt.tsv',
 '../data/stats_generales/2015/2015_pc.tsv',
 '../data/stats_generales/2015/2015_tsi.tsv',
 '../data/stats_generales/2015/2015_psi.tsv',
 '../data/stats_generales/2015/2015_bcpst.tsv',
 '../data/stats_generales/2015/2015_mp.tsv',
 '../data/stats_generales/2009/2009_pc.tsv',
 '../data/stats_generales/2009/2009_tsi.tsv',
 '../data/stats_generales/2009/2009_bcpst.tsv',
 '../data/stats_generales/2009/2009_psi.tsv',
 '../data/stats_generales/2009/2009_pt.tsv',
 '../data/stats_generales/2009/2009_mp.tsv',
 '../data/stats_generales/2008/2008_psi.tsv',
 '../data/stats_generales/2008/2008_tsi.tsv',
 '../data/stats_generales/2008/2008_bcpst.tsv',
 '../data/stats_generales/2008/2008_mp.tsv',
 '../data/stats_generales/2008/2008_pt.tsv',
 '../data/stats_generales/2008/2008_pc.tsv',
 '../data/stats_generales/2021/2021_mp.tsv',
 '../data/stats_generales/2021/2021_pc.tsv',
 '../data/stats_generales/2021/2021_pt.tsv',
 '../data/stats_generales/2021/2021_bcpst.tsv',
 '../data/stats_generales/2021/2021_tpc.tsv',
 '../data/stats_generales/2021/2021_psi.tsv',
 '../data/stats_generales/2021/2021_tsi.tsv',
 '../data/stats_generales/2021/2021_tb.tsv',
 '../data/stats_generales/2012/2012_psi.tsv',
 '../data/stats_generales/2012/2012_pc.tsv',
 '../data/stats_generales/2012/2012_mp.tsv',
 '../data/stats_generales/2012/2012_bcpst.tsv',
 '../data/stats_generales/2012/2012_pt.tsv',
 '../data/stats_generales/2012/2012_tsi.tsv',
 '../data/stats_generales/2010/2010_mp.tsv',
 '../data/stats_generales/2010/2010_bcpst.tsv',
 '../data/stats_generales/2010/2010_pt.tsv',
 '../data/stats_generales/2010/2010_psi.tsv',
 '../data/stats_generales/2010/2010_pc.tsv',
 '../data/stats_generales/2010/2010_tsi.tsv',
 '../data/stats_generales/2018/2018_tsi.tsv',
 '../data/stats_generales/2018/2018_pc.tsv',
 '../data/stats_generales/2018/2018_mp.tsv',
 '../data/stats_generales/2018/2018_psi.tsv',
 '../data/stats_generales/2018/2018_bcpst.tsv',
 '../data/stats_generales/2018/2018_pt.tsv',
 '../data/stats_generales/2006/2006_mp.tsv',
 '../data/stats_generales/2006/2006_psi.tsv',
 '../data/stats_generales/2006/2006_tsi.tsv',
 '../data/stats_generales/2006/2006_pc.tsv',
 '../data/stats_generales/2006/2006_bcpst.tsv',
 '../data/stats_generales/2006/2006_pt.tsv',
 '../data/stats_generales/2016/2016_bcpst.tsv',
 '../data/stats_generales/2016/2016_tsi.tsv',
 '../data/stats_generales/2016/2016_pc.tsv',
 '../data/stats_generales/2016/2016_psi.tsv',
 '../data/stats_generales/2016/2016_mp.tsv',
 '../data/stats_generales/2016/2016_pt.tsv',
 '../data/stats_generales/2019/2019_pc.tsv',
 '../data/stats_generales/2019/2019_tsi.tsv',
 '../data/stats_generales/2019/2019_tb.tsv',
 '../data/stats_generales/2019/2019_psi.tsv',
 '../data/stats_generales/2019/2019_pt.tsv',
 '../data/stats_generales/2019/2019_tpc.tsv',
 '../data/stats_generales/2019/2019_bcpst.tsv',
 '../data/stats_generales/2019/2019_mp.tsv',
 '../data/stats_generales/2004/2004_PSI.tsv',
 '../data/stats_generales/2004/2004_PC.tsv',
 '../data/stats_generales/2004/2004_MP.tsv',
 '../data/stats_generales/2004/2004_TSI.tsv',
 '../data/stats_generales/2004/2004_PT.tsv',
 '../data/stats_generales/2004/2004_BCPST.tsv',
 '../data/stats_generales/2020/2020_psi.tsv',
 '../data/stats_generales/2020/2020_tpc.tsv',
 '../data/stats_generales/2020/2020_pc.tsv',
 '../data/stats_generales/2020/2020_pt.tsv',
 '../data/stats_generales/2020/2020_mp.tsv',
 '../data/stats_generales/2020/2020_bcpst.tsv',
 '../data/stats_generales/2020/2020_tsi.tsv',
 '../data/stats_generales/2020/2020_tb.tsv',
 '../data/stats_generales/2017/2017_psi.tsv',
 '../data/stats_generales/2017/2017_tsi.tsv',
 '../data/stats_generales/2017/2017_pc.tsv',
 '../data/stats_generales/2017/2017_mp.tsv',
 '../data/stats_generales/2017/2017_pt.tsv',
 '../data/stats_generales/2017/2017_bcpst.tsv',
 '../data/stats_generales/2002/2002_BCPST.tsv',
 '../data/stats_generales/2002/2002_PT.tsv',
 '../data/stats_generales/2002/2002_PSI.tsv',
 '../data/stats_generales/2002/2002_PC.tsv',
 '../data/stats_generales/2002/2002_MP.tsv',
 '../data/stats_generales/2002/2002_TSI.tsv',
 '../data/stats_generales/2007/2007_PT.tsv',
 '../data/stats_generales/2007/2007_PSI.tsv',
 '../data/stats_generales/2007/2007_PC.tsv',
 '../data/stats_generales/2007/2007_BCPST.tsv',
 '../data/stats_generales/2007/2007_MP.tsv',
 '../data/stats_generales/2007/2007_TSI.tsv',
 '../data/stats_generales/2014/2014_pt.tsv',
 '../data/stats_generales/2014/2014_mp.tsv',
 '../data/stats_generales/2014/2014_tsi.tsv',
 '../data/stats_generales/2014/2014_pc.tsv',
 '../data/stats_generales/2014/2014_psi.tsv',
 '../data/stats_generales/2014/2014_bcpst.tsv',
 '../data/stats_generales/2003/2003_TSI.tsv',
 '../data/stats_generales/2003/2003_PSI.tsv',
 '../data/stats_generales/2003/2003_PT.tsv',
 '../data/stats_generales/2003/2003_MP.tsv',
 '../data/stats_generales/2003/2003_BCPST.tsv',
 '../data/stats_generales/2003/2003_PC.tsv',
 '../data/stats_generales/2011/2011_bcpst.tsv',
 '../data/stats_generales/2011/2011_pt.tsv',
 '../data/stats_generales/2011/2011_tsi.tsv',
 '../data/stats_generales/2011/2011_psi.tsv',
 '../data/stats_generales/2011/2011_pc.tsv',
 '../data/stats_generales/2011/2011_mp.tsv',
 '../data/stats_generales/2013/2013_mp.tsv',
 '../data/stats_generales/2013/2013_pc.tsv',
 '../data/stats_generales/2013/2013_tsi.tsv',
 '../data/stats_generales/2013/2013_psi.tsv',
 '../data/stats_generales/2013/2013_pt.tsv',
 '../data/stats_generales/2013/2013_bcpst.tsv',
 '../data/stats_generales/2005/2005_psi.tsv',
 '../data/stats_generales/2005/2005_pc.tsv',
 '../data/stats_generales/2005/2005_pt.tsv',
 '../data/stats_generales/2005/2005_bcpst.tsv',
 '../data/stats_generales/2005/2005_mp.tsv',
 '../data/stats_generales/2005/2005_tsi.tsv']

In [6]:
# initialise DataFrame pour la concat depuis une boucle
stats_generales_df = pd.read_csv(concat_file_list[0], delimiter="\t")
for file_path in concat_file_list[1:]:
    local_df = pd.read_csv(file_path, delimiter="\t")
    stats_generales_df = pd.concat([stats_generales_df, local_df], ignore_index=True)

In [7]:
stats_generales_df

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
0,2015,pt,CENTRALE-SUPELEC,CENTRALE PARIS,767.0,12.0,18.0,NaN,NaN,NaN,...,11.0,0.0,25.0,10.0,10.0,0.0,10.0,NaN,NaN,NaN
1,2015,pt,CENTRALE-SUPELEC,SUPELEC,829.0,11.0,22.0,NaN,NaN,NaN,...,6.0,7.0,90.0,24.0,8.0,5.0,24.0,NaN,NaN,NaN
2,2015,pt,CENTRALE-SUPELEC,CENTRALE LYON,1046.0,13.0,19.0,NaN,NaN,NaN,...,5.0,4.0,85.0,25.0,0.0,0.0,24.0,NaN,NaN,NaN
3,2015,pt,CENTRALE-SUPELEC,Institut d'optique Graduate School (SupOptique),441.0,10.0,27.0,NaN,NaN,NaN,...,10.0,3.0,20.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN
4,2015,pt,CENTRALE-SUPELEC,CENTRALE LILLE,957.0,12.0,22.0,NaN,NaN,NaN,...,7.0,6.0,127.0,10.0,0.0,0.0,12.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24901,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes SEII,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,10,0.0,30.0,5,NaN,NaN,NaN
24902,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes TE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,1,0.0,0.0,2,NaN,NaN,NaN
24903,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Orléans,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,6,0.0,0.0,5,NaN,NaN,NaN
24904,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Tours Product.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,4,0.0,25.0,13,NaN,NaN,NaN
24905,2005,tsi,BANQUE EPREUVES C.C.P,Polytech TSI,452.0,5.0,26.0,314.0,5.0,25.0,...,6.0,30.0,NaN,48,NaN,NaN,51,NaN,NaN,NaN

In [8]:
stats_generales_export_path = os.path.join(STATS_GENERALES_PATH, "stats_generales.csv")
stats_generales_df.to_csv(stats_generales_export_path)

## Nettoyer `stats_generales.csv`

### Remplacer par `NaN` les valeurs inconnues `¥`

In [9]:
stats_generales_df = pd.read_csv(STATS_GENERALES_FILE_PATH, index_col=0)
stats_generales_df.tail()

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
24901,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes SEII,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,10,0.0,30.0,5,NaN,NaN,NaN
24902,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes TE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,1,0.0,0.0,2,NaN,NaN,NaN
24903,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Orléans,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,6,0.0,0.0,5,NaN,NaN,NaN
24904,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Tours Product.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,4,0.0,25.0,13,NaN,NaN,NaN
24905,2005,tsi,BANQUE EPREUVES C.C.P,Polytech TSI,452.0,5.0,26.0,314.0,5.0,25.0,...,6.0,30.0,NaN,48,NaN,NaN,51,NaN,NaN,NaN

In [10]:
stats_generales_df[stats_generales_df.year == 2002]

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
17479,2002,BCPST,BIO A,INA P-G Paris,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,180,64,14,178,NaN,NaN,287
17480,2002,BCPST,BIO A,ENSAM Montpellier,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,91,60,25,90,NaN,NaN,440
17481,2002,BCPST,BIO A,ENSAR Rennes,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,95,61,20,92,NaN,NaN,553
17482,2002,BCPST,BIO A,ENSAT Toulouse,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,80,54,21,80,NaN,NaN,687
17483,2002,BCPST,BIO A,ENSAIA Nancy,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,87,68,24,85,NaN,NaN,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18443,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP MECA-ELEC,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,2,0,50,2,NaN,NaN,27
18444,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP-GEOMETRES,¥,¥,¥,¥,¥,¥,...,¥,¥,NaN,2,0,0,2,NaN,NaN,42
18445,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP Paris,91,3,32,64,3,42,...,2,49,NaN,¥,¥,¥,8,NaN,NaN,¥
18446,2002,TSI,BANQUE D'EPREUVES C.C.P,ISEP Paris,122,3,22,73,4,23,...,3,23,NaN,3,0,33,3,NaN,NaN,12
18447,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTIA Bayonne,116,3,26,93,2,27,...,3,36,NaN,4,25,0,10,NaN,NaN,33

In [11]:
stats_generales_df = pd.read_csv(STATS_GENERALES_FILE_PATH, index_col=0, na_values=["¥"])
stats_generales_df[stats_generales_df.year == 2002]

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
17479,2002,BCPST,BIO A,INA P-G Paris,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,180.0,64.0,14.0,178,NaN,NaN,287.0
17480,2002,BCPST,BIO A,ENSAM Montpellier,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,91.0,60.0,25.0,90,NaN,NaN,440.0
17481,2002,BCPST,BIO A,ENSAR Rennes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,95.0,61.0,20.0,92,NaN,NaN,553.0
17482,2002,BCPST,BIO A,ENSAT Toulouse,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.0,54.0,21.0,80,NaN,NaN,687.0
17483,2002,BCPST,BIO A,ENSAIA Nancy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,87.0,68.0,24.0,85,NaN,NaN,1020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18443,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP MECA-ELEC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,0.0,50.0,2,NaN,NaN,27.0
18444,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP-GEOMETRES,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,2,NaN,NaN,42.0
18445,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTP Paris,91.0,3.0,32.0,64.0,3.0,42.0,...,2.0,49.0,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN
18446,2002,TSI,BANQUE D'EPREUVES C.C.P,ISEP Paris,122.0,3.0,22.0,73.0,4.0,23.0,...,3.0,23.0,NaN,3.0,0.0,33.0,3,NaN,NaN,12.0
18447,2002,TSI,BANQUE D'EPREUVES C.C.P,ESTIA Bayonne,116.0,3.0,26.0,93.0,2.0,27.0,...,3.0,36.0,NaN,4.0,25.0,0.0,10,NaN,NaN,33.0

In [12]:
# "¥Concours EPITA / IPSA / ESME PT" n'a pas été remplacé comme prévu
# On va voir après comment nettoyer ça.
stats_generales_df.tail()

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
24901,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes SEII,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,10.0,0.0,30.0,5,NaN,NaN,NaN
24902,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes TE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,1.0,0.0,0.0,2,NaN,NaN,NaN
24903,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Orléans,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,6.0,0.0,0.0,5,NaN,NaN,NaN
24904,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Tours Product.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,4.0,0.0,25.0,13,NaN,NaN,NaN
24905,2005,tsi,BANQUE EPREUVES C.C.P,Polytech TSI,452.0,5.0,26.0,314.0,5.0,25.0,...,6.0,30.0,NaN,48.0,NaN,NaN,51,NaN,NaN,NaN

In [13]:
stats_generales_df.to_csv(STATS_GENERALES_FILE_PATH)

### Extraire les lignes regroupant les statistiques par banque
Comment les trouver ?
En regardant la présence de `¥` au début des noms dans `ecole` / qu'on peut vérifier par un regroupement par `banque`

In [14]:
stats_generales_df = pd.read_csv(STATS_GENERALES_FILE_PATH, index_col=0)
stats_generales_df

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
0,2015,pt,CENTRALE-SUPELEC,CENTRALE PARIS,767.0,12.0,18.0,NaN,NaN,NaN,...,11.0,0.0,25.0,10.0,10.0,0.0,10.0,NaN,NaN,NaN
1,2015,pt,CENTRALE-SUPELEC,SUPELEC,829.0,11.0,22.0,NaN,NaN,NaN,...,6.0,7.0,90.0,24.0,8.0,5.0,24.0,NaN,NaN,NaN
2,2015,pt,CENTRALE-SUPELEC,CENTRALE LYON,1046.0,13.0,19.0,NaN,NaN,NaN,...,5.0,4.0,85.0,25.0,0.0,0.0,24.0,NaN,NaN,NaN
3,2015,pt,CENTRALE-SUPELEC,Institut d'optique Graduate School (SupOptique),441.0,10.0,27.0,NaN,NaN,NaN,...,10.0,3.0,20.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN
4,2015,pt,CENTRALE-SUPELEC,CENTRALE LILLE,957.0,12.0,22.0,NaN,NaN,NaN,...,7.0,6.0,127.0,10.0,0.0,0.0,12.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24901,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes SEII,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,10.0,0.0,30.0,5,NaN,NaN,NaN
24902,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes TE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,1.0,0.0,0.0,2,NaN,NaN,NaN
24903,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Orléans,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,6.0,0.0,0.0,5,NaN,NaN,NaN
24904,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Tours Product.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,4.0,0.0,25.0,13,NaN,NaN,NaN
24905,2005,tsi,BANQUE EPREUVES C.C.P,Polytech TSI,452.0,5.0,26.0,314.0,5.0,25.0,...,6.0,30.0,NaN,48.0,NaN,NaN,51,NaN,NaN,NaN

In [15]:
# `ecole` avec NaN
stats_generales_df[stats_generales_df.ecole.isna()]

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
17891,2002,PSI,AUTRES ECOLES DE LA BANQUE E4A,NaN,21.0,48.0,29.0,20.0,45.0,30.0,...,25.0,25.0,NaN,0.0,0.0,0.0,8,NaN,NaN,4.0

In [16]:
# On va lui donner la valeur de la colonne `banque`
stats_generales_df.ecole.fillna(stats_generales_df[stats_generales_df.ecole.isna()].banque, inplace=True)

In [17]:
# `ecole` avec NaN
stats_generales_df[stats_generales_df.ecole.isna()]

Empty DataFrame
Columns: [year, filiere, banque, ecole, inscrits_nb, inscrits_filles, inscrits_cinq_demi, admissibles_nb, admissibles_filles, admissibles_cinq_demi, classes_nb, classes_filles, classes_cinq_demi, rg_dernier_appele, integres_nb, integres_filles, integres_cinq_demi, places, integres_rg_median, integres_rg_moyen, appeles]
Index: []

[0 rows x 21 columns]

In [35]:
# On extrait les résumés des stats par banque dont le nom d'école commence par `¥`
grouped_row_df = stats_generales_df.ecole.str.startswith("¥")
summary_stats_generales_df = stats_generales_df[grouped_row_df].copy()
# On enlève ces ligne de `stats_generales_df`
stats_generales_df.drop(summary_stats_generales_df.index, inplace=True)
summary_stats_generales_df.reset_index(inplace=True)
# On enlève le caractère `¥` de ce nom d'école
summary_stats_generales_df.ecole= summary_stats_generales_df.ecole.str.replace("¥", "")
summary_stats_generales_df
# Enregistrer les DataFrame
stats_generales_df.to_csv(STATS_GENERALES_FILE_PATH)
summary_stats_generales_df.to_csv(SUMMARY_STATS_GENERALES_FILE_PATH)

In [36]:
stats_generales_df.tail()

,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,admissibles_cinq_demi,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
24901,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes SEII,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,10.0,0.0,30.0,5,NaN,NaN,NaN
24902,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Nantes TE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,1.0,0.0,0.0,2,NaN,NaN,NaN
24903,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Orléans,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,6.0,0.0,0.0,5,NaN,NaN,NaN
24904,2005,tsi,BANQUE EPREUVES C.C.P,POLYTECH Tours Product.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,4.0,0.0,25.0,13,NaN,NaN,NaN
24905,2005,tsi,BANQUE EPREUVES C.C.P,Polytech TSI,452.0,5.0,26.0,314.0,5.0,25.0,...,6.0,30.0,NaN,48.0,NaN,NaN,51,NaN,NaN,NaN

In [37]:
summary_stats_generales_df.tail()

,index,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
727,17432,2017,bcpst,G2E,concours des écoles des Mines G2E-BCPST,1649.0,67.1,23.6,1145.0,67.2,...,67.9,36.3,NaN,10.0,NaN,NaN,8,NaN,NaN,NaN
728,17436,2017,bcpst,G2E,concours ENGEES G2E-BCPST,1649.0,67.1,23.6,1145.0,67.2,...,67.7,35.6,NaN,28.0,NaN,NaN,29,NaN,NaN,NaN
729,17441,2017,bcpst,G2E,concours ENSG Marne La vallée G2E-BCPST,1649.0,67.1,23.6,1145.0,67.2,...,67.5,35.9,NaN,7.0,NaN,NaN,6,NaN,NaN,NaN
730,17456,2017,bcpst,G2E,concours Polytech G2E-BCPST,1649.0,67.1,23.6,1145.0,67.2,...,67.1,35.3,NaN,14.0,NaN,NaN,33,NaN,NaN,NaN
731,17478,2017,bcpst,CONCOURS POLYTECH,Concours POLYTECH A BIO,1906.0,72.0,26.1,1333.0,71.1,...,71.2,27.9,NaN,89.0,NaN,NaN,135,NaN,NaN,NaN

### Vérifier la cohérence des données

In [38]:
summary_stats_generales_df = pd.read_csv(SUMMARY_STATS_GENERALES_FILE_PATH, index_col=0)
stats_generales_df = pd.read_csv(STATS_GENERALES_FILE_PATH, index_col=0)

In [39]:
summary_stats_generales_df.head()

,index,year,filiere,banque,ecole,inscrits_nb,inscrits_filles,inscrits_cinq_demi,admissibles_nb,admissibles_filles,...,classes_filles,classes_cinq_demi,rg_dernier_appele,integres_nb,integres_filles,integres_cinq_demi,places,integres_rg_median,integres_rg_moyen,appeles
0,3362,2021,mp,BANQUE CENTRALE-SUPELEC,Concours Cycle International Centrale-Supelec MP,672.0,31.7,10.4,238.0,21.8,...,23.0,8.3,NaN,62.0,NaN,NaN,34.0,NaN,NaN,NaN
1,3369,2021,mp,BANQUE CENTRALE-SUPELEC,Concours EPF Sceaux-Troyes-Montpellier MP,692.0,31.5,18.4,545.0,31.2,...,32.9,21.5,NaN,16.0,NaN,NaN,15.0,NaN,NaN,NaN
2,3376,2021,mp,BANQUE CENTRALE-SUPELEC,Concours ESTP MP,1135.0,29.1,21.1,948.0,29.3,...,32.2,20.1,NaN,104.0,NaN,NaN,170.0,NaN,NaN,NaN
3,3389,2021,mp,CONCOURS COMMUN MINES-PONTS,Concours CCMP MP,5865.0,22.8,19.4,1821.0,16.1,...,16.4,18.7,NaN,585.0,NaN,NaN,609.0,NaN,NaN,NaN
4,3458,2021,mp,CONCOURS COMMUN INP,Concours CCINP MP,7853.0,26.8,18.6,5074.0,23.4,...,23.3,21.5,NaN,1136.0,NaN,NaN,1183.0,NaN,NaN,NaN

In [40]:
summary_group = summary_stats_generales_df.groupby(by=["banque"]).sum()["integres_nb"]
summary_group

banque
A BIO                                                5736.0
A ENV                                                2708.0
AUTRES ECOLES                                         825.0
Autres écoles E3A                                    1041.0
Avenir Prépas                                         477.0
BANQUE CENTRALE-SUPELEC                              2677.0
BANQUE EPREUVES C.C.P                                 415.0
BANQUE EPREUVES CCINP                                 420.0
BANQUE EPREUVES CCINP  Inter-Filière                  191.0
CCINP : ECOLES RECRUTANT SUR LE CONCOURS CHIMIE      1613.0
CCINP : ECOLES RECRUTANT SUR LE CONCOURS PHYSIQUE    1867.0
CCP : ECOLES RECRUTANT SUR LE CONCOURS CHIMIE        1728.0
CCP : ECOLES RECRUTANT SUR LE CONCOURS PHYSIQUE      1804.0
CENTRALE-SUPELEC                                      576.0
CESI                                                  430.0
CONCOURS CENTRALE-SUPELEC                             327.0
CONCOURS COMMUN ENSAM                                3475.0
CONCOURS COMMUN INP                                  6850.0
CONCOURS COMMUN MINES-PONTS                          8133.0
CONCOURS COMMUN TPE                                   446.0
CONCOURS COMMUNS POLYTECHNIQUES                      6667.0
CONCOURS ENSAM                                        325.0
CONCOURS ESTP                                        1635.0
CONCOURS POLYTECH                                    1472.0
CONCOURS POLYTECH Inter-Filière                      4140.0
Concours  A TB BIO                                    106.0
Concours A TB BIO                                      48.0
Concours A TB ENV                                      33.0
Concours Mines - Télécom                             1367.0
Concours Mines-Télécom                               5740.0
Concours POLYTECH A TB                                 42.0
EPITA                                                 938.0
FESIC                                                  36.0
G2E                                                   357.0
Groupe INSA                                           291.0
Groupe INSA Inter-Filière                            4332.0
PC BIO                                                160.0
Puissance Alpha                                        60.0
Réseau Polytech                                       405.0
Name: integres_nb, dtype: float64

In [41]:
general_group = stats_generales_df.groupby(by=["banque"]).sum()["integres_nb"]
general_group

banque
A BIO              22720.0
A ENV               9828.0
ARCH BIO             500.0
ARCH GEOL             16.0
AUTRES CONCOURS       84.0
                    ...
RESEAU EIFFEL        825.0
RESEAU POLYTECH     2758.0
Réseau Polytech      755.0
VETO                1104.0
X BIO                 53.0
Name: integres_nb, Length: 92, dtype: float64

On va étudier la liste des banques qui sont communes aux deux DataFrames (l'intersection). En effet, il n'y a qu'une quarantaine de ligne dans `summary_...` alors que l'autre en compte plus de 92 après le GROUPE BY. On peut facilement imaginer que c'est le fruit d'une fusion de plusieurs banques entre elles.
On voit que (même) dans ce sous-groupe, seules très peu de banques ont des chiffres cohérentes entre le  `summary_...` proposé par SCEI et un GROUP BY. Il peut s'agir de petites imprécisions entre les deux sources.

In [42]:
intersection_banque = list(set(general_group.to_dict().keys()).intersection(set(summary_group.to_dict().keys())))

In [43]:
general_group.eq(summary_group)[intersection_banque]

banque
CONCOURS POLYTECH Inter-Filière                      False
Concours Mines - Télécom                             False
A BIO                                                False
BANQUE EPREUVES CCINP                                False
Avenir Prépas                                        False
Concours POLYTECH A TB                                True
Réseau Polytech                                      False
BANQUE EPREUVES CCINP  Inter-Filière                 False
CONCOURS ENSAM                                       False
Groupe INSA                                          False
CENTRALE-SUPELEC                                     False
CONCOURS COMMUN INP                                   True
CONCOURS POLYTECH                                    False
BANQUE EPREUVES C.C.P                                False
CONCOURS COMMUN ENSAM                                False
Concours Mines-Télécom                               False
Concours A TB BIO                                     True
AUTRES ECOLES                                        False
CONCOURS CENTRALE-SUPELEC                            False
PC BIO                                               False
CCP : ECOLES RECRUTANT SUR LE CONCOURS PHYSIQUE      False
CONCOURS COMMUN TPE                                  False
CCP : ECOLES RECRUTANT SUR LE CONCOURS CHIMIE        False
CESI                                                  True
Groupe INSA Inter-Filière                            False
Concours A TB ENV                                     True
CONCOURS COMMUN MINES-PONTS                          False
Puissance Alpha                                      False
CONCOURS COMMUNS POLYTECHNIQUES                      False
BANQUE CENTRALE-SUPELEC                              False
G2E                                                  False
Concours  A TB BIO                                    True
CONCOURS ESTP                                        False
Autres écoles E3A                                    False
FESIC                                                False
CCINP : ECOLES RECRUTANT SUR LE CONCOURS PHYSIQUE     True
A ENV                                                False
EPITA                                                False
CCINP : ECOLES RECRUTANT SUR LE CONCOURS CHIMIE       True
Name: integres_nb, dtype: bool

On a essaie de retrouver les données de `summary_stats_generales` en faisant un GROUP BY dans `stats_generales`.
Il y a certains concours comme `CONCOURS COMMUN INP ` et `CESI` où les nombres sont cohérents entre les deux tableaux. Mais pour le reste comme `EPITA` ou `A BIO`, les nombres sont complétements différents.